asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-widget-tweaks
idna
oauthlib
package_name
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
sqlparse
tzdata
urllib3
django-environ
uWSGI
psycopg2-binary