asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
dj-static
Django
django-allauth
django-environ
django-widget-tweaks
gunicorn
idna
oauthlib
packaging
psycopg2-binary
pycparser
PyJWT
python-decouple
python3-openid
requests
requests-oauthlib
sqlparse
static3
typing_extensions
tzdata
urllib3
whitenoise